<div class="container">
  <div class="navbar navbar-dark bg-secondary p-2">
    <h1>New list</h1>
    <%= link_to "List page", lists_path, class:"btn btn-primary" %>
  </div>
    <%= simple_form_for @list do |f| %>
        <%= f.input :name %>
        <%= f.submit %>
    <% end %>

</div>
